body {
    background: #353535;
    color: #EFEFEF;
    font: 13px Helvetica, Arial;
    margin: 0;
}
.text-primary {
    color: #4287ff;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.large-text {
    font-size: 80px;
}